
.A
{
    margin-left: 90%;
}
.d{
margin-left: 72%;
margin-top: 10px;

}

.featured {
    width: 60%;
    display: flex;
    justify-content: space-between;
   
  }
  
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredTitle{
      font-size: 20px;
      color: green
  }
  
  .featuredMoneyContainer{
      margin: 10px 0px;
      display: flex;
      align-items: center;
  }
  
  .featuredMoney{
      font-size: 30px;
      font-weight: 600;
      color: green;
    
  }
  .featuredMoney:hover{
    color:#1890ff;
}
  
  .featuredMoneyRate{
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  
  .featuredIcon{
      font-size: 14px;
      margin-left: 5px;
      color: green;
  }
  
  .featuredIcon.negative{
      color: red;
  }
  
  .featuredSub{
      font-size: 15px;
      color: gray;
  }
body {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    color: #ffffff;

}

h3 {
    color: #ffffff;
}
table, th, td{
border: 4px solid ;
padding: 15px;
text-align: center;
}
tr:nth-child(even) {
background-color: #ffffff;
}