body {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
table, th, td{
border: 4px solid ;
padding: 15px;
text-align: center;
position: -webkit-sticky;
position: sticky;
}
tr:nth-child(even) {
background-color: #ffffff;
}
.scrollme {
    overflow-x: auto;
  
}